<div class="container-fluid">
  <h3 class="text-secondary">Level {{ skillLevel }} Skill Assessment</h3>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Evaluation</a>
      <ng-template ngbNavContent>
        <app-evaluation [model]="model" (ValidEvaluationEvent)="selectTab($event)"></app-evaluation>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" [disabled]="disabled">
      <a ngbNavLink>Report Card</a>
      <ng-template ngbNavContent>
        <app-reportcard [model]="model"></app-reportcard>
      </ng-template>
    </li>
    <!-- <li [ngbNavItem]="3">
        <a ngbNavLink>Training</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li> -->
  </ul>

  <!-- Content output -->
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<!-- <ngx-teleport to="destination">
  <div class="alert alert-success">
    <h4>Section 2 - Skill Evaluation</h4>
    <span class="fw-normal">Select a rating for each skill code.</span>
    <p>
      A = Solid, consistent performance
      <br />B = Good basic form, but needs work <br />
      C = Attempted but very poorly executed/needs work <br />D = Not observed or not able to execute
    </p>
  </div>
</ngx-teleport> -->

<!-- <pre>Active: {{ active }}</pre> -->

<p *ngIf="debug">{{ model | json }}</p>
