<div class="container-fluid">
  <h3 class="text-secondary">Level {{ skillLevel }} Skill Assessment</h3>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Evaluation</a>
      <ng-template ngbNavContent>
        <h4 class="text-secondary">Evaluation Form</h4>
        <p class="fst-italic">Fields marked with * are required.</p>

        <form [formGroup]="form" (ngSubmit)="submit()">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
          <button type="submit" class="btn btn-primary">View Report Card</button>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Report Card</a>
      <ng-template ngbNavContent>
        <app-reportcard [model]="model"></app-reportcard>
      </ng-template>
    </li>
    <!-- <li [ngbNavItem]="3">
        <a ngbNavLink>Training</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li> -->
  </ul>

  <!-- Content output -->
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<!-- <pre>Active: {{ active }}</pre> -->

<p *ngIf="debug">{{ model | json }}</p>
