<div class="container-fluid mt-5">
  <table class="table table-striped">
    <!-- <thead>
        <tr>
          <th>thumbnail</th>
          <th>videoId</th>
          <th>title</th>
          <th>channelTitle</th>
          <th>publishedAt</th>
          <th>description</th>
          <th>videoUrl</th>
        </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let video of videos">
        <td><img [src]="video.thumbnail" /></td>
        <td>{{ video.videoId }}</td>
        <td>{{ video.title }}</td>
        <td>{{ video.channelTitle }}</td>
        <td>{{ video.publishedAt }}</td>
        <td>{{ video.description }}</td>
        <td>{{ video.videoUrl }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui four column grid">
  <div class="column" *ngFor="let video of videos">
    <div class="ui card">
      <div class="image">
        <img [src]="video.thumbnail" />
      </div>
      <div class="content">
        <a class="header" style="margin: 1em 0 1em 0">{{ video.title }}</a>
        <div class="meta">
          <span class="date" style="font-weight: bolder">
            <a [href]="video.channelUrl" target="_blank">{{ video.channelTitle }}</a>
          </span>
          <span class="ui right floated date" style="font-weight: bolder">{{ video.publishedAt }}</span>
        </div>
        <div class="description">{{ video.description?.slice(0, 50) }}...</div>
      </div>
      <a [href]="video.videoUrl" target="_blank" class="extra content">
        <button class="ui right floated tiny red right labeled icon button">
          <i class="external alternate icon"></i>
          Watch
        </button>
      </a>
    </div>
  </div>
</div>

<p *ngIf="debug">{{ videos | json }}</p>
