<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>
  <p>
    <strong>I want to improve my Pickcleball game. What should I work on?</strong> Try <span translate>APP_NAME</span>,
    a free, simple, easy-to-use Pickleball Skill Assessment app. It helps to identify skill gaps so players can focus on
    training development.
  </p>

  <p>
    The USA Pickleball Player Skill Ratings rubric provides specific skills needed to achieve each level of player
    rating. The rating levels are progressive, ranging from 2.0 to 5.5. The higher level demands more advanced skills. A
    set of skills are defined and associated at each rating level. Inside Mickball app, each skill can be individually
    rated using academic grading scale ABCD. The rating result is shown in a user-friendly Report Card format.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Skill Level</th>
        <th scope="col">Skill Count</th>
        <th scope="col">Equivalency <br />(just for fun)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2.0</th>
        <td>10</td>
        <td>Pre K</td>
      </tr>
      <tr>
        <th scope="row">2.5</th>
        <td>12</td>
        <td>Kindergarten</td>
      </tr>
      <tr>
        <th scope="row">3.0</th>
        <td>11</td>
        <td>Middle School</td>
      </tr>
      <tr>
        <th scope="row">3.5</th>
        <td>18</td>
        <td>High School</td>
      </tr>
      <tr>
        <th scope="row">4.0</th>
        <td>22</td>
        <td>Bachelor</td>
      </tr>
      <tr>
        <th scope="row">4.5</th>
        <td>19</td>
        <td>Master</td>
      </tr>
      <tr>
        <th scope="row">5.0 or higher</th>
        <td>18</td>
        <td>PhD</td>
      </tr>
    </tbody>
  </table>

  <P
    >For more information about the definition of Player Skill Ratings, please visit
    https://usapickleball.org/tournaments/tournament-player-ratings/player-skill-rating-definitions/</P
  >

  <hr />
  <h3>Contact</h3>
  Do you have any tips or suggestions to improve Mickleball app? Feel free to Post or Message.
  <uL>
    <li><a href="https://www.facebook.com/profile.php?id=100086898597774">Facebook Page</a></li>
  </uL>
</div>
