<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>

  <p>
    The USA Pickleball Player Skill Ratings rubric provides specific skills to achieve each level of player rating. The
    rubbric is distributed in PDF file format. This app digitizes the PDF rubric to make it easy for Pickleball players
    to complete skill assessment from any where and on any devices (desktop, tablet or mobile).
  </p>

  <h3>Product Development Roadmap</h3>
  <uL>
    <li>Phase 1 - Online assessment and report card for skill level 2.0, 2.5, 3.0, 3.5, 4.0, 4.5 and 5.0</li>
    <li>Phase 2 - Login using Facebook (or Google) account and enable saving of skill assessment data</li>
    <li>
      Phase 3 - Establish skill matrix and map to training resources such as youtube videos, blogs, coaching, equipment,
      etc.
    </li>
  </uL>

  <h3>Contacts</h3>
  <uL>
    <li>Fuji Nguyen</li>
    <li>https://www.facebook.com/fujidnguyen</li>
  </uL>

  <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Access Token">
      <ng-template ngbPanelContent>
        {{ this.accessToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle> Id Token </ng-template>
      <ng-template ngbPanelContent>
        {{ this.idToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Identity Claims">
      <ng-template ngbPanelContent>
        {{ this.identityClaims }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Roles">
      <ng-template ngbPanelContent>
        {{ this.role }}
      </ng-template>
    </ngb-panel>
    we
  </ngb-accordion> -->
</div>
