<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>

    <p>The Pickleball Skill Assessment App is a hobby project and brought to you by Fuji Nguyen.</p>
  </div>

  <h3>Product Roadmap</h3>
  <uL>
    <li>Phase 1 - Online Evaluation Form for skill level 2 to 5</li>
    <li>Phase 2 - Enable login using Facebook or Google account and save skill assessment data</li>
    <li>Phase 3 - Establish skill matrix and link skill code to training resources</li>
  </uL>

  <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Access Token">
      <ng-template ngbPanelContent>
        {{ this.accessToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle> Id Token </ng-template>
      <ng-template ngbPanelContent>
        {{ this.idToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Identity Claims">
      <ng-template ngbPanelContent>
        {{ this.identityClaims }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Roles">
      <ng-template ngbPanelContent>
        {{ this.role }}
      </ng-template>
    </ngb-panel>
    we
  </ngb-accordion> -->
</div>
