<div class="container-fluid">
  <!-- HTML form mark up -->

  <ng-container *ngIf="!show">
    <h3 class="text-secondary">Level 4.0 Skill Assessment</h3>

    <p>* fields are required.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
  </ng-container>

  <ng-container *ngIf="show">
    <app-reportcard [model]="model"></app-reportcard>
  </ng-container>

  <button (click)="toggle()" class="btn btn-primary" [disabled]="!form.valid">
    {{ buttonName }}
  </button>
</div>

<!-- <p>{{ model | json }}</p> -->
