<div *ngFor="let item of itemList">
  <div class="card-deck my-3">
    <div class="card">
      <a class="card-link" routerLink="/rating/level20">
        <div class="card-body card-body-small">
          <i class="fas fa-clipboard-list fa-2x text-primary"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right">2.0</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>

    <div class="card">
      <a class="card-link" routerLink="/rating/level25">
        <div class="card-body">
          <i class="fas fa-clipboard-list fa-2x text-secondary"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark text-nowrap">2.5</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/rating/level30">
        <div class="card-body">
          <i class="fas fa-clipboard-list fa-2x text-success"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">3.0</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/rating/level35">
        <div class="card-body">
          <i class="fas fa-clipboard-list fa-2x text-danger"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">3.5</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/rating/level40">
        <div class="card-body">
          <i class="fas fa-clipboard-list fa-2x text-info"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">4.0</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/rating/level45">
        <div class="card-body">
          <i class="fas fa-clipboard-list fa-2x text-dark"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">4.5</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/rating/level50">
        <div class="card-body">
          <i class="fas fa-clipboard-list fa-2x text-muted"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">5.0</h2>
          <h4 class="card-title pt-1 pb-0 text-dark text-nowrap">Level</h4>
        </div>
      </a>
    </div>
  </div>
</div>
