<div class="container-fluid">
  <!-- HTML form mark up -->
  <h3 class="text-secondary">Level 5.0 Skill Assessment</h3>

  <h6>Instructions</h6>
  <ul>
    <li>Expand and complete Section 1, 2 and 3.</li>
    <li>5.0 Skill Level should ALSO possess all 4.5 Skills.</li>
  </ul>

  <app-dynamic-form
    [formGeneralFields]="formGeneralFields | async"
    [formSkillAssessmentFields]="formSkillAssessmentFields | async"
    [formSignatureFields]="formSignatureFields | async"
  ></app-dynamic-form>
</div>
