<div class="container-fluid">
  <ng-container *ngIf="!show">
    <!-- HTML form mark up -->
    <h3 class="text-secondary">Level {{ ratinglevel }} Skill Assessment</h3>

    <p class="fst-italic">Fields marked with * are required.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" class="btn btn-primary">View Report Card</button>
    </form>
  </ng-container>

  <ng-container *ngIf="show">
    <app-reportcard [model]="model"></app-reportcard>

    <button (click)="toggle()" class="btn btn-primary">Go Back</button>
  </ng-container>
</div>

<p *ngIf="debug">{{ model | json }}</p>

<!-- <p>{{ model | json }}</p> -->
<!-- {{ form.valid }} -->
