<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Hello Pickleballers!</h1>
    <p class="lead">Welcome to Skill Assessment App</p>
    <hr class="my-4" />
    <p>
      This app provides a thorough evaluation of Pickleball knowledge, skills, and competences of player rating level 2
      to 5.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/rating" role="button">Learn more</a>
    </p>
  </div>
  <!-- <app-dashboard></app-dashboard> -->

  <!-- <ngb-carousel
    *ngIf="images"
    [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators"
  >
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" class="d-block w-100" />
      </div>
      <div class="carousel-caption">
        <blockquote class="blockquote">
          <h3>Stay out of the kitchen.</h3>
          <footer class="blockquote-footer">Larry Page, <cite title="Source Title">co-founder of Google</cite></footer>
        </blockquote>
      </div>
    </ng-template>
  </ngb-carousel> -->
</div>
