<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5>Section 1 - General Information</h5>
      </ng-template>

      <ng-template ngbPanelContent>
        <div *ngFor="let formField of formGeneralFields" class="form-group">
          <app-dynamic-form-input [input]="formField" [form]="form"></app-dynamic-form-input>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5>Section 2 - Skill Rating</h5>
      </ng-template>

      <ng-template ngbPanelContent>
        <div *ngFor="let formField of formSkillAssessmentFields" class="form-group">
          <app-dynamic-form-input [input]="formField" [form]="form"></app-dynamic-form-input>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5 class="text-left">Section 3 - Summary</h5>
      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngFor="let formField of formSignatureFields" class="form-group">
          <app-dynamic-form-input [input]="formField" [form]="form"></app-dynamic-form-input>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</form>

<div *ngIf="payLoad" class="form-group"><strong>Here's the payload</strong><br />{{ payLoad }}</div>
