<div class="container-fluid">
  <!-- HTML form mark up -->
  <h3 class="text-secondary">Level 2.0 Skill Assessment</h3>
  <h5>Instructions</h5>
  <ul>
    <li>Expand and complete Section 1, 2 and 3.</li>
  </ul>

  <app-dynamic-form
    [formGeneralFields]="formGeneralFields | async"
    [formSkillAssessmentFields]="formSkillAssessmentFields | async"
    [formSignatureFields]="formSignatureFields | async"
  ></app-dynamic-form>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
  </form>
</div>
