<div class="container-fluid">
  <!-- HTML form mark up -->
  <h3 class="text-secondary">Level 2.5 Skill Assessment</h3>
  <h5>Instructions</h5>
  <ul>
    <li>Expand and complete Section 1, 2 and 3.</li>
    <li>2.5 Skill Level should ALSO possess all 2.0 Skills.</li>
  </ul>

  <app-dynamic-form
    [formGeneralFields]="formGeneralFields | async"
    [formSkillAssessmentFields]="formSkillAssessmentFields | async"
    [formSignatureFields]="formSignatureFields | async"
  ></app-dynamic-form>
</div>
